.Input {
	width: 80%;
	box-sizing: border-box;
}

.Label {
	display: block;
	margin-bottom: 0;
}

.InputElement {
	outline: none;
	border: 1px solid #ccc;
	background-color: white;
	font: inherit;
	padding: 6px 10px;
	display: block;
	width: 100%;
	box-sizing: content-box;
	margin-bottom: 8px;
}

.InputElement:focus {
	outline: none;
	background-color: #ccc;
}

.Invalid {
	border: 1px solid red;
	background-color: #fda49a;
}

.ValidationError {
	color: red;
	margin: 5px 0;
}
