.Input {
	width: 80%;
	box-sizing: border-box;
	margin: 0px auto;
	text-align: center;
}

.Label {
	display: block;
	margin-bottom: 0;
	text-align: left;
}

.InputElement {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid #868282;
}

.InputElement:focus {
	outline: none;
	background-color: #ccc;
}

.Invalid {
	border: 1px solid red;
	background-color: #fda49a;
}

.ValidationError {
	color: red;
	margin: 5px 0;
}
