.Login {
	max-width: 300px;
	background-color: transparent;
	height: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	overflow: hidden;
	text-align: center;
}

.login,
.register {
	padding-top: 50px;
	width: 100%;
}
.Profile {
	height: 100px;
	width: 100px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 100%;
	margin: 0 auto;
	margin-bottom: 60px;
	position: relative;
}
